*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  display: block;
}

@font-face {
  font-family: "Sourse Sans Pro";
  src: url("../fonts/SourceSansPro-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sourse Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni 72";
  src: url("../fonts/bodoni-72-book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html,
body {
  height: 100%;
  min-width: 20rem;
}

body {
  font-family: "Sourse Sans Pro", sans-serif;
  font-size: 1rem;
  color: #000;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 65.875rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}

.hero {
  position: relative;
  color: #fff;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.hero__container {
  text-align: center;
  position: relative;
  z-index: 2;
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15.5339806svh;
  padding-block: 7.76699svh;
  /* 64/824 */
}
.hero__header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 3.8834956svh;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 2.427184svh;
}
.hero__title {
  text-align: center;
  font-family: "Bodoni 72", serif;
  font-size: 6rem;
  line-height: 1.2;
  text-transform: uppercase;
}
@media (max-width: 767.9808px) {
  .hero__title {
    font-size: 4rem;
  }
}
.hero__label {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: 0.225em;
  text-transform: uppercase;
}
.hero__button {
  color: #F4F4F4;
  text-align: center;
  line-height: 1.2;
  border-radius: 0.25rem;
  background: #D8AE5E;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
@media (any-hover: hover) {
  .hero__button:hover {
    background-color: rgb(180, 135, 52);
  }
}
.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.875rem 1rem;
}
@media (max-width: 767.9808px) {
  .menu__list {
    font-size: 1.25rem;
  }
}
.menu__link {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}

.page [class*=page__] {
  padding-block: 4rem;
}
@media (max-width: 767.9808px) {
  .page [class*=page__] {
    padding-block: 2rem;
  }
}

.about__header {
  margin-bottom: 2rem;
}
@media (max-width: 767.9808px) {
  .about__header {
    margin-bottom: 1rem;
  }
}
.about__content {
  max-width: 37.5rem;
  margin: 0 auto;
  text-align: center;
}
.about__text {
  color: #090909;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.0625em;
}
.about__text:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 767.9808px) {
  .about__text:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.about__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media (max-width: 767.9808px) {
  .about__text {
    font-size: 1rem;
  }
}
.about__button {
  color: #F4F4F4;
  text-align: center;
  line-height: 1.2;
  border-radius: 0.25rem;
  background: #D8AE5E;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
@media (any-hover: hover) {
  .about__button:hover {
    background-color: rgb(180, 135, 52);
  }
}

.header-block {
  text-transform: uppercase;
  text-align: center;
}
.header-block::after {
  content: "";
  width: 7.5rem;
  height: 0.0625rem;
  background-color: #D8AE5E;
  margin: 0 auto;
  margin-top: 2rem;
}
@media (max-width: 767.9808px) {
  .header-block::after {
    margin-top: 1rem;
  }
}
.header-block__title {
  font-family: "Bodoni 72", serif;
  font-size: 4rem;
  line-height: 1.2;
}
.header-block__title:not(:last-child) {
  margin-bottom: 0.5rem;
}
.header-block__text {
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.05rem;
}
@media (max-width: 767.9808px) {
  .header-block__text {
    font-size: 0.875rem;
  }
}
.header-block__text p:not(:last-child) {
  margin-bottom: 0.3125rem;
}
@media (max-width: 767.9808px) {
  .header-block__title {
    font-size: 2.875rem;
  }
}
@media (max-width: 479.9808px) {
  .header-block__title {
    font-size: 2rem;
  }
}
@media (max-width: 767.9808px) {
  .header-block__text {
    font-size: 1.125rem;
  }
  .header-block__text::after {
    margin-top: 1rem;
  }
}

.animated {
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.animated.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.animated {
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.animated.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.page [class*=page__] {
  padding-block: 4rem;
}
@media (max-width: 767.9808px) {
  .page [class*=page__] {
    padding-block: 2rem;
  }
}

.activities {
  background-color: #F4F4F4;
}
.activities__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}
@media (max-width: 991.9808px) {
  .activities__container {
    gap: 2.75rem;
  }
}
.activities__items {
  max-width: 60.3125rem;
  margin: 0 auto;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 8rem;
     -moz-column-gap: 8rem;
          column-gap: 8rem;
  row-gap: 6rem;
}
@media (max-width: 991.9808px) {
  .activities__items {
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
    row-gap: 3rem;
  }
}
@media (max-width: 767.9808px) {
  .activities__items {
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 2rem;
  }
}
@media (max-width: 479.9808px) {
  .activities__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 1.5rem;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
.activities__item {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 479.9808px) {
  .activities__item {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.activities__link {
  padding-bottom: 0.5rem;
  border-bottom: 0.0625rem solid #D8AE5E;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .activities__link:hover {
    border-bottom: 0.0625rem solid #000;
  }
}

.item-activities__image {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 2.5rem;
      flex: 0 0 2.5rem;
}
.item-activities__image:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 479.9808px) {
  .item-activities__image:not(:last-child) {
    margin-bottom: 0px;
  }
}
.item-activities__icon {
  max-width: 100%;
}
@media (max-width: 479.9808px) {
  .item-activities__icon {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}
.item-activities__label {
  color: #000;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.56;
  letter-spacing: 0.0625rem;
}

.header-block {
  text-transform: uppercase;
  text-align: center;
}
.header-block::after {
  content: "";
  width: 7.5rem;
  height: 0.0625rem;
  background-color: #D8AE5E;
  margin: 0 auto;
  margin-top: 2rem;
}
@media (max-width: 767.9808px) {
  .header-block::after {
    margin-top: 1rem;
  }
}
.header-block__title {
  font-family: "Bodoni 72", serif;
  font-size: 4rem;
  line-height: 1.2;
}
.header-block__title:not(:last-child) {
  margin-bottom: 0.5rem;
}
.header-block__text {
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.05rem;
}
@media (max-width: 767.9808px) {
  .header-block__text {
    font-size: 0.875rem;
  }
}
.header-block__text p:not(:last-child) {
  margin-bottom: 0.3125rem;
}
@media (max-width: 767.9808px) {
  .header-block__title {
    font-size: 2.875rem;
  }
}
@media (max-width: 479.9808px) {
  .header-block__title {
    font-size: 2rem;
  }
}
@media (max-width: 767.9808px) {
  .header-block__text {
    font-size: 1.125rem;
  }
  .header-block__text::after {
    margin-top: 1rem;
  }
}

.animated {
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.animated.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.page [class*=page__] {
  padding-block: 4rem;
}
@media (max-width: 767.9808px) {
  .page [class*=page__] {
    padding-block: 2rem;
  }
}

.amenities__header:not(:last-child) {
  margin-bottom: 4rem;
}
@media (max-width: 767.9808px) {
  .amenities__header:not(:last-child) {
    margin-bottom: 3rem;
  }
}
@media (max-width: 479.9808px) {
  .amenities__header:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.amenities__sections:not(:last-child) {
  margin-bottom: 4.625rem;
}
@media (max-width: 767.9808px) {
  .amenities__sections:not(:last-child) {
    margin-bottom: 3rem;
  }
}
@media (max-width: 479.9808px) {
  .amenities__sections:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.section-amenities__title {
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-size: 1.5rem;
  line-height: 1.25;
  letter-spacing: 0.225rem;
}
.section-amenities__title:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 479.9808px) {
  .section-amenities__title {
    font-size: 1.125rem;
  }
}
.section-amenities__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
}
@media (max-width: 767.9808px) {
  .section-amenities__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section-amenities__item {
  border-radius: 0.25rem;
  overflow: hidden;
  -ms-flex-preferred-size: 18.1875rem;
      flex-basis: 18.1875rem;
}
.section-amenities__item:nth-child(6n+3), .section-amenities__item:nth-child(7n+4) {
  -ms-flex-preferred-size: 25.5rem;
      flex-basis: 25.5rem;
  aspect-ratio: 408/286;
}
.section-amenities__item:nth-child(6n+3) .section-amenities__link, .section-amenities__item:nth-child(7n+4) .section-amenities__link {
  aspect-ratio: 408/286;
}
@media (any-hover: hover) {
  .section-amenities__item:hover .section-amenities__image {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.section-amenities__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem;
  text-align: center;
  aspect-ratio: 291/286;
}
.section-amenities__link:nth-child(6n+3), .section-amenities__link:nth-child(7n+4) {
  aspect-ratio: 408/286;
}
.section-amenities__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
}
.section-amenities__headline {
  position: relative;
  z-index: 2;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.2625rem;
}
@media (max-width: 767.9808px) {
  .section-amenities__headline {
    font-size: 1.5rem;
  }
}
@media (max-width: 479.9808px) {
  .section-amenities__headline {
    font-size: 1.125rem;
  }
}
.section-amenities__image {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-block {
  text-transform: uppercase;
  text-align: center;
}
.header-block::after {
  content: "";
  width: 7.5rem;
  height: 0.0625rem;
  background-color: #D8AE5E;
  margin: 0 auto;
  margin-top: 2rem;
}
@media (max-width: 767.9808px) {
  .header-block::after {
    margin-top: 1rem;
  }
}
.header-block__title {
  font-family: "Bodoni 72", serif;
  font-size: 4rem;
  line-height: 1.2;
}
.header-block__title:not(:last-child) {
  margin-bottom: 0.5rem;
}
.header-block__text {
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.05rem;
}
@media (max-width: 767.9808px) {
  .header-block__text {
    font-size: 0.875rem;
  }
}
.header-block__text p:not(:last-child) {
  margin-bottom: 0.3125rem;
}
@media (max-width: 767.9808px) {
  .header-block__title {
    font-size: 2.875rem;
  }
}
@media (max-width: 479.9808px) {
  .header-block__title {
    font-size: 2rem;
  }
}
@media (max-width: 767.9808px) {
  .header-block__text {
    font-size: 1.125rem;
  }
  .header-block__text::after {
    margin-top: 1rem;
  }
}

.animated {
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.animated.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.page [class*=page__] {
  padding-block: 4rem;
}
@media (max-width: 767.9808px) {
  .page [class*=page__] {
    padding-block: 2rem;
  }
}

.contacts {
  background-color: #F4F4F4;
}
.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 4rem;
}
@media (max-width: 767.9808px) {
  .contacts__container {
    gap: 2rem;
  }
}
.contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
@media (max-width: 767.9808px) {
  .contacts__items {
    gap: 1rem;
  }
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  color: #000;
  text-align: center;
  line-height: 1.25;
  letter-spacing: 0.05rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .contacts__link:hover {
    text-decoration: underline;
  }
}
.contacts__link--phone::before {
  content: url("../img/contacts/tel.svg");
}
.contacts__link--mail::before {
  content: url("../img/contacts/sms.svg");
}
.contacts__link--map::before {
  content: url("../img/contacts/local.svg");
}

.header-block {
  text-transform: uppercase;
  text-align: center;
}
.header-block::after {
  content: "";
  width: 7.5rem;
  height: 0.0625rem;
  background-color: #D8AE5E;
  margin: 0 auto;
  margin-top: 2rem;
}
@media (max-width: 767.9808px) {
  .header-block::after {
    margin-top: 1rem;
  }
}
.header-block__title {
  font-family: "Bodoni 72", serif;
  font-size: 4rem;
  line-height: 1.2;
}
.header-block__title:not(:last-child) {
  margin-bottom: 0.5rem;
}
.header-block__text {
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.05rem;
}
@media (max-width: 767.9808px) {
  .header-block__text {
    font-size: 0.875rem;
  }
}
.header-block__text p:not(:last-child) {
  margin-bottom: 0.3125rem;
}
@media (max-width: 767.9808px) {
  .header-block__title {
    font-size: 2.875rem;
  }
}
@media (max-width: 479.9808px) {
  .header-block__title {
    font-size: 2rem;
  }
}
@media (max-width: 767.9808px) {
  .header-block__text {
    font-size: 1.125rem;
  }
  .header-block__text::after {
    margin-top: 1rem;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 1rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 4rem;
  letter-spacing: 0.05rem;
  gap: 4rem;
}
@media (max-width: 767.9808px) {
  .footer__container {
    padding-block: 2rem;
    gap: 2rem;
  }
}
.footer__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.05rem;
  row-gap: 1rem;
}
@media (any-hover: hover) {
  .footer__text a:hover {
    text-decoration: underline;
  }
}
.footer__text a:nth-child(1n+2)::before {
  content: "/";
  margin-inline: 0.2rem;
}
.footer__copy {
  text-align: center;
  letter-spacing: 0.05rem;
}
.footer__copy p:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 767.9808px) {
  .footer__copy p:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
.footer__copy a {
  font-weight: 600;
}
@media (any-hover: hover) {
  .footer__copy a:hover {
    text-decoration: underline;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 1rem;
}