@use 'index' as *;

.page {
    @include page;


    @include tablet {
        [class*="page__"] {
            padding-block: 2rem;
        }
    }


}

.about {



    // .about__header

    &__header {
        margin-bottom: 2rem;

        @include tablet {
            margin-bottom: 1rem;
        }
    }

    // .about__content

    &__content {
        max-width: 37.5rem;
        margin: 0 auto;
        text-align: center;
    }

    // .about__text

    &__text {
        color: #090909;
        text-align: center;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.25rem;
        line-height: 1.5;
        letter-spacing: 0.0625em;

        &:not(:last-child) {
            margin-bottom: 2rem;

            @include tablet {
                margin-bottom: 1rem;
            }
        }

        & p:not(:last-child) {
            margin-bottom: 0.625rem;
        }

        @include tablet {
            font-size: 1rem;
        }
    }

    // .about__button

    &__button {
        @include button;

        @include hover {
            &:hover {
                background-color: rgb(180, 135, 52);
            }
        }
    }
}

.header-block {
    @include header-block;
    // .header-block__title

    &__title {
        @include tablet {
            font-size: 2.875rem;
        }

        @include mobile {
            font-size: 2rem;
        }
    }

    &__text {
        @include tablet {
            &::after {
                margin-top: 1rem;
            }

            font-size: 1.125rem;
        }
    }


}