@use 'index' as *;

.page {
    @include page;


    @include tablet {
        [class*="page__"] {
            padding-block: 2rem;
        }
    }


}

.activities {
    background-color: #F4F4F4;
    // .activities__container

    &__container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 4rem;

        @include tablet_b {
            gap: 2.75rem;
        }
    }



    // .activities__items

    &__items {
        max-width: 60.3125rem;
        margin: 0 auto;
        align-self: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 8rem;
        row-gap: 6rem;

        @include tablet_b {
            column-gap: 4rem;
            row-gap: 3rem;
        }

        @include tablet {
            column-gap: 3rem;
            row-gap: 2rem;
        }

        @include mobile {
            justify-content: center;
            row-gap: 1.5rem;
            column-gap: 1.25rem;
        }
    }



    // .activities__item

    &__item {
        text-align: center;
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include mobile {
            text-align: left;
            flex-direction: row;
            justify-content: flex-start;
            column-gap: 1.25rem;
            flex: 1 1 100%;
        }
    }

    // .activities__link

    &__link {
        padding-bottom: 0.5rem;
        border-bottom: 0.0625rem solid #D8AE5E;
        transition: all 0.3s ease;

        @include hover {
            &:hover {
                border-bottom: 0.0625rem solid #000;
            }
        }
    }
}


.item-activities {

    &__image {
        flex-grow: 1;
        flex: 0 0 2.5rem;

        &:not(:last-child) {
            margin-bottom: 1rem;

            @include mobile {
                margin-bottom: 0px;
            }
        }
    }

    // .item-activities__icon

    &__icon {
        max-width: 100%;

        @include mobile {
            column-gap: 1.875rem;
        }
    }

    // .item-activities__label

    &__label {
        color: #000;
        text-align: center;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 20px;
        line-height: 1.56;
        letter-spacing: 0.0625em;
    }
}

.header-block {
    @include header-block;
    // .header-block__title

    &__title {
        @include tablet {
            font-size: 2.875rem;
        }

        @include mobile {
            font-size: 2rem;
        }
    }

    &__text {
        @include tablet {
            &::after {
                margin-top: 1rem;
            }

            font-size: 1.125rem;
        }
    }

}