@use 'index' as *;

.page {
    @include page;


    @include tablet {
        [class*="page__"] {
            padding-block: 2rem;
        }
    }


}

.amenities {


    // .amenities__header

    &__header {
        &:not(:last-child) {
            margin-bottom: 4rem;

            @include tablet {
                margin-bottom: 3rem;
            }

            @include mobile {
                margin-bottom: 2rem;
            }
        }
    }

    // .amenities__sections

    &__sections {
        &:not(:last-child) {
            margin-bottom: 4.625rem;

            @include tablet {
                margin-bottom: 3rem;
            }

            @include mobile {
                margin-bottom: 2rem;
            }
        }
    }

}



.section-amenities {


    // .section-amenities__title

    &__title {
        text-align: center;
        text-transform: uppercase;
        color: #000;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.5rem;
        line-height: 1.25;
        letter-spacing: 0.225em;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        @include mobile {
            font-size: 1.125rem;
        }
    }

    // .section-amenities__items

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 0.9375rem;

        @include tablet {
            justify-content: center;
        }

    }

    // .section-amenities__item

    &__item {
        border-radius: 0.25rem;
        overflow: hidden;
        flex-basis: 18.1875rem;



        &:nth-child(6n + 3),
        &:nth-child(7n + 4) {
            flex-basis: 25.5rem;
            aspect-ratio: 408 / 286;

            .section-amenities__link {
                aspect-ratio: 408 / 286;
            }
        }

        @include hover {
            &:hover {
                .section-amenities__image {
                    transform: scale(1.05);
                }

            }

        }
    }

    // .section-amenities__link

    &__link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.25rem;
        text-align: center;
        aspect-ratio: 291 / 286;


        &:nth-child(6n + 3),
        &:nth-child(7n + 4) {
            aspect-ratio: 408 / 286;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.2;
        }
    }

    // .section-amenities__headline

    &__headline {
        position: relative;
        z-index: 2;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        font-family: "Source Sans Pro";
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 0.2625em;


        @include tablet {
            font-size: 1.5rem;
        }

        @include mobile {
            font-size: 1.125rem;
        }
    }

    // .section-amenities__image

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.4s ease;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-block {
    @include header-block;
    // .header-block__title

    &__title {
        @include tablet {
            font-size: 2.875rem;
        }

        @include mobile {
            font-size: 2rem;
        }
    }

    &__text {
        @include tablet {
            &::after {
                margin-top: 1rem;
            }

            font-size: 1.125rem;
        }
    }


}