@use 'index' as *;

.animated {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
}

.animated.visible {
    opacity: 1;
    transform: translateY(0);
}

.page {
    @include page;

}

.contacts {
    background-color: #F4F4F4;
    // .contacts__container

    &__container {
        display: flex;
        flex-flow: column nowrap;
        gap: 4rem;

        @include tablet {
            gap: 2rem;
        }
    }


    // .contacts__items

    &__items {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 2rem;

        @include tablet {
            gap: 1rem;
        }
    }


    // .contacts__link

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: #000;
        text-align: center;
        line-height: 1.25;
        letter-spacing: 0.05rem;
        transition: all 0.3s ease;

        @include hover {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .contacts__link--phone

    &__link--phone {
        &::before {
            content: url("../img/contacts/tel.svg");
        }
    }

    // .contacts__link--mail

    &__link--mail {
        &::before {
            content: url("../img/contacts/sms.svg");
        }
    }

    // .contacts__link--map

    &__link--map {
        &::before {
            content: url("../img/contacts/local.svg");
        }
    }
}

.header-block {
    @include header-block;
    // .header-block__title

    &__title {
        @include tablet {
            font-size: 2.875rem;
        }

        @include mobile {
            font-size: 2rem;
        }
    }

    &__text {
        @include tablet {
            &::after {
                margin-top: 1rem;
            }

            font-size: 1.125rem;
        }
    }


}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 1rem;
    // .social__item


}