@use "../mobile" as *;

@mixin button {
    color: #F4F4F4;
    text-align: center;
    line-height: 1.2;
    border-radius: 0.25rem;
    background: #D8AE5E;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

@mixin page {

    & [class*="page__"] {
        padding-block: 4rem;
    }

    @include tablet {
        & [class*="page__"] {
            padding-block: 2rem;
        }
    }


}

@mixin header-block {
    text-transform: uppercase;
    text-align: center;

    &::after {
        content: "";
        width: 7.5rem;
        height: 0.0625rem;
        background-color: #D8AE5E;
        margin: 0 auto;
        margin-top: 2rem;

        @include tablet {
            margin-top: 1rem;
        }
    }

    &__title {
        font-family: "Bodoni 72", serif;
        font-size: 4rem;
        line-height: 1.2;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }

    }

    &__text {
        text-align: center;
        line-height: 1.2;
        letter-spacing: 0.05rem;

        @include tablet {
            font-size: 0.875rem;
        }

        & p:not(:last-child) {
            margin-bottom: 0.3125rem;
        }

    }
}